<html>
<head>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{{ STATIC_URL }}/img/icon.png">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<title>PAGEMOVE</title>
</head>
<body>
<div id="container">
    <div id="logo">
        <img height="150" width="150" src="{{ STATIC_URL }}/img/icon.png" alt="logo missing...">
        <br>
        <br>
        <br>
        <div class="title">PAGEMOVE</div>
    </div>
    <div id="content">
        <br>
        <br>
        <br>
        <p style="font-size: 1.35em;">
           THIS PAGE IS MISSING 404
        </p>
        <div id="footer">
        </div>
    </div>

</div>
<body>
</html>
